.grid-container {
	display: grid;
  background-image:url(https://image.shutterstock.com/image-photo/empty-parking-lots-aerial-view-600w-517414873.jpg);
  background-repeat: no-repeat;
	grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  background-size: cover;
	/* grid-gap: 2vw; */
	width: 70%;
	padding: 35px 0;
	border: 1px solid rgba(0, 0, 0, 0.8);
	margin: 0 auto;
}

.grid-item {
	font-size: 5vw;
	padding: 0.5em;
	text-align: center;
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	height: calc(25vh - 10px);
	background-color: none;
}
